@model Hablame.Services.Viewmodels.ConversationViewModel

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h3>Conversation Details</h3>
            <div class="well">
                <h4><strong>@Model.Student.Forename @Model.Student.Surname</strong></h4>
                <h5><strong>Teacher:</strong> @Model.Teacher.Forename @Model.Teacher.Surname</h5>
                <h5><strong>Language:</strong> @Model.Language.Name</h5>
                <h5><strong>Start Time:</strong>@Model.StartDateTime.ToShortTimeString()</h5>
                <h5><strong>Current duration:</strong> @Model.DurationMinutes minutes</h5>
                <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-pause"></span></button>
                <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-play"></span></button>
                <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-stop"></span></button>
                RUNNING
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Maybe some instruction or other useful text here</div>
                <div class="panel-body">
                    <p>buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo.</p>
                    <p>buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo.</p>
                    <p>buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo buffallo.</p>
                </div>
            </div>

        </div>

        <div class="col-sm-9">
            <div class="row content">
                <div class="col-lg-12">
                    <h2>Enter new mistake</h2>
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Text Input -->
                                <div class="form-group">
                                    <label for="inputlg">@Model.Student.Forename said:</label>
                                    <input class="form-control input-lg" id="inputlg" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="inputlg">but should have said:</label>
                                    <input class="form-control input-lg" id="inputlg" type="text">
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary">SUBMIT</button>
                            </div>
                            <div class="col-lg-6">
                                <!-- Checkboxes -->
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-info btn-lg active">
                                        <input type="checkbox" autocomplete="off"> <input type="checkbox" value=""><span data-toggle="tooltip" title="e.g. Wrong: I am very much like football. Corrected: I very much like football.">Unnecessary auxiliary verb</span>
                                    </label>
                                    <label class="btn btn-info btn-lg">
                                        <input type="checkbox" autocomplete="off"> <input type="checkbox" value=""><span data-toggle="tooltip" title="e.g. ">Missing auxiliary verb</span>
                                    </label>
                                    <label class="btn btn-info btn-lg">
                                        <input type="checkbox" autocomplete="off"> Wrong verb form
                                    </label>
                                    <label class="btn btn-info btn-lg">
                                        <input type="checkbox" autocomplete="off"> Wrong verb pattern
                                    </label>
                                    <label class="btn btn-info btn-lg">
                                        <input type="checkbox" autocomplete="off"> Wrong phrasal verb
                                    </label>
                                    <label class="btn btn-info btn-lg">
                                        <input type="checkbox" autocomplete="off"> Wrong subject-verb agreement
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <br />

            <div class="row content">
                <div class="col-lg-12">
                    <div class="container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Most Common mistakes (@Model.Student.Forename)</a></li>
                            <li><a data-toggle="tab" href="#menu1">Latest Mistakes (@Model.Student.Forename)</a></li>
                            <li><a data-toggle="tab" href="#menu2">Common @Model.Language.Name mistakes</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>Most Common mistakes</h3>
                                @{
                                    foreach (var mistake in @Model.Mistakes)
                                    {
                                            <div>
                                                <h5>
                                                    <strong>
                                                        @mistake.SpokenValue <span style="color:red" class="glyphicon glyphicon-remove"></span>
                                                        @mistake.CorrectValue <span style="color:darkseagreen" class="glyphicon glyphicon-ok"></span>
                                                    </strong>
                                                </h5>
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-primary">+1</button>
                                            <button type="submit" class="btn btn-sm btn-primary">Similar</button>
                                    }
                                }
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <h3>Latest Mistakes</h3>
                                <p>Some content in menu 1.</p>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Common @Model.Language.Name mistakes</h3>
                                <p>Some content in menu 2.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container-fluid">
    <div class="well">
        @{
            Html.RenderAction("EnteredMistake", "Mistake");
        }
    </div>

</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


