@model Hablame.Services.Viewmodels.ConversationViewModel

<div class="container-fluid">
    <div class="row content">
        <!-- Left hand nav -->
        <div class="col-sm-3 sidenav">
            <h3>Conversation Details</h3>
            <div class="well">
                <h1><span class="glyphicon glyphicon-user"></span></h1>
                <h4><strong>@Model.Student.Forename @Model.Student.Surname</strong></h4>
                <h5><strong>Teacher:</strong> @Model.Teacher.Forename @Model.Teacher.Surname</h5>
                <h5><strong>Language:</strong> @Model.Language.Name</h5>
                <h5><strong>Start Time:</strong>@Model.StartDateTime.ToShortTimeString()</h5>
                <h5><strong>Current duration:</strong> @Model.DurationMinutes minutes</h5>
                <h5><strong>Configuration:</strong> @Model.MistakeTypeConfig.Name </h5>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><h6><span class="glyphicon glyphicon-cog"></span></h6></button>
                <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-pause"></span></button>
                <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-play"></span></button>
                <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-stop"></span></button>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Instructions</div>
                <div class="panel-body">
                    <p>Whenever your student makes a mistake, record it using the text boxes to the right.</p>
                    <p>You can categorise the mistake using the buttons to the right of the text boxes.</p>
                    <p>If your student repeats a mistake, use the +1 button to add it again. You will see that the Count for that mistakes will have been incremented.</p>
                </div>
            </div>

        </div>

        <!-- Main body content -->
        <div class="col-sm-9">

            <div class="row content">
                <div class="col-lg-12">
                    <div class="input-content">
                        <div class="row">
                            <br />
                            <!-- Praise or Mistake? -->
                            <div class="col-lg-6">
                                <a href="#" class="btn btn-success btn-xlarge" data-toggle="modal" data-target="#praiseModal"><span class="glyphicon glyphicon-thumbs-up"></span> Well said!</a>
                            </div>
                            <div class="col-lg-6">
                                <a href="#" class="btn btn-danger btn-xlarge" data-toggle="modal" data-target="#mistakeModal"><span class="glyphicon glyphicon-thumbs-down"></span> Not quite right!</a>
                            </div>
                        </div>

                        <div class="row">
                            
                            <!-- Praise! -->
                            <div id="praiseModal" class="modal modal-lg fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add New Praise</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <h3><label for="inputlg">@Model.Student.Forename said:</label></h3>
                                                            <input class="form-control input-lg" id="praise-spokenValue" name="spokenValue" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <ul class="rate-area">
                                                                <input type="radio" id="praise-5-star" name="rating" value="5" onclick="if (this.checked) { showSubmitButton(true) }" />
                                                                <label for="praise-5-star" title="Amazing">5 stars</label>
                                                                <input type="radio" id="praise-4-star" name="rating" value="4" onclick="if (this.checked) { showSubmitButton(true) }" />
                                                                <label for="praise-4-star" title="Good">4 stars</label>
                                                                <input type="radio" id="praise-3-star" name="rating" value="3" onclick="if (this.checked) { showSubmitButton(true) }" />
                                                                <label for="praise-3-star" title="Average">3 stars</label>
                                                                <input type="radio" id="praise-2-star" name="rating" value="2" onclick="if (this.checked) { showSubmitButton(true) }" />
                                                                <label for="praise-2-star" title="Not Good">2 stars</label>
                                                                <input type="radio" id="praise-1-star" name="rating" value="1" onclick="if (this.checked) { showSubmitButton(true) }" />
                                                                <label for="praise-1-star" title="Bad">1 star</label>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            @{
                                                                foreach (var item in @Model.MistakeTypeOptions)
                                                                {
                                                                    <div class="row">
                                                                        @for (int i = 0; i < @item.PraiseTypeList.Count(); i++)
                                                                        {
                                                                            if (i > 0 && i % 3 == 0)
                                                                            {
                                                                                @:</div><div class="row">
                                                                                // close and start new row
                                                                            }
                                                                            <div class="col-xs-4">
                                                                                <input type="checkbox" data-toggle="toggle" data-onstyle="success" name="SelectedMistakeTypes" value="@item.PraiseTypeList[i].Id">
                                                                                <br />@item.PraiseTypeList[i].Title
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="conversationId" id="praise-conversationId" value="@Model.ConversationId" />
                                                <input type="hidden" name="isPraise" id="isPraise" value="true" />
                                                <button type="submit" name="submit-praise" id="submit-praise" class="btn btn-lg btn-primary" disabled="disabled">SUBMIT</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Mistake Modal -->
                            <div id="mistakeModal" class="modal modal-lg fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add New Mistake</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <h3><label for="inputlg">@Model.Student.Forename said:</label></h3>
                                                            <input class="form-control input-lg" id="mistake-spokenValue" name="spokenValue" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <h3><label for="inputlg">Suggested improvement:</label></h3>
                                                            <input class="form-control input-lg" id="correctValue" name="correctValue" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            @{
                                                                foreach (var item in @Model.MistakeTypeOptions)
                                                                {
                                                                    <div class="row">
                                                                        @for (int i = 0; i < @item.MistakeTypeList.Count(); i++)
                                                                        {
                                                                            if (i > 0 && i % 3 == 0)
                                                                            {
                                                                                @:</div><div class="row">
                                                                                // close and start new row
                                                                            }
                                                                            <div class="col-xs-4">
                                                                                <input type="checkbox" data-toggle="toggle" data-onstyle="success" name="SelectedMistakeTypes" value="@item.MistakeTypeList[i].Id">
                                                                                <br />@item.MistakeTypeList[i].Title
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="conversationId" id="mistake-conversationId" value="@Model.ConversationId" />
                                                <input type="hidden" name="isPraise" id="isPraise" value="false" />
                                                <button type="submit" name="submit-mistake" id="submit-mistake" class="btn btn-lg btn-primary">SUBMIT</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <!-- Historic mistakes section -->
            <div id="historicMistakesSection" class="row content">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Latest (this conversation)</a></li>
                        <li><a data-toggle="tab" href="#menu1">Top (this conversation)</a></li>
                        <li><a data-toggle="tab" href="#menu2">@Model.Student.Forename's Top Mistakes</a></li>
                        <li><a data-toggle="tab" href="#menu3">Top English mistakes</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th><span style="color:red;font-size: 25px" class="glyphicon glyphicon-comment"></span></th>
                                        <th><span style="color:darkseagreen;font-size: 25px" class="glyphicon glyphicon-ok-sign"></span></th>
                                        <th><span style="font-size: 25px">G</span></th>
                                        <th><span style="font-size: 25px">V</span></th>
                                        <th><span style="font-size: 25px">P</span></th>
                                        <th><span class="glyphicon glyphicon-time" style="font-size: 25px"></span></th>
                                        <th><span class="glyphicon glyphicon-wrench" style="font-size: 25px"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var mistakeMade in Model.LatestSessionMistakes)
                                        {
                                            <tr>
                                                <td><strong>@mistakeMade.SpokenValue</strong></td>
                                                <td> @mistakeMade.CorrectValue</td>
                                                <td> @if (mistakeMade.IsGrammar)
                                                {<span class="glyphicon glyphicon-ok"></span>}
                                                else
                                                { <span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td>@if (mistakeMade.IsVocab)
                                                {<span class="glyphicon glyphicon-ok"></span>}
                                                else
                                                {<span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td>@if (mistakeMade.IsPronunciation)
                                                {<span class="glyphicon glyphicon-ok"></span>}
                                                else
                                                {<span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td>@mistakeMade.MinutesAgo minutes ago.</td>
                                                <td>
                                                    <form method="post">
                                                        <input type="hidden" name="conversationId" id="conversationId-repeat-latestSessionMistakes" value="@Model.ConversationId" />
                                                        <input type="hidden" name="mistakeId" id="mistakeId-repeat-latestSessionMistakes" value="@mistakeMade.MistakeId" />
                                                        <button type="submit" name="submit-repeat-repeat-latestSessionMistakes" id="submit-mistake-repeat" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-repeat"></span></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th><span style="color:red;font-size: 25px" class="glyphicon glyphicon-comment"></span></th>
                                        <th><span style="color:darkseagreen;font-size: 25px" class="glyphicon glyphicon-ok-sign"></span></th>
                                        <th><span style="font-size: 25px">G</span></th>
                                        <th><span style="font-size: 25px">V</span></th>
                                        <th><span style="font-size: 25px">P</span></th>
                                        <th><span class="glyphicon glyphicon-signal" style="font-size: 25px"></span></th>
                                        <th><span class="glyphicon glyphicon-wrench" style="font-size: 25px"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var mistake in Model.MostCommonSessionMistakes)
                                        {
                                            <tr>
                                                <td>@mistake.SpokenValue</td>
                                                <td>@mistake.CorrectValue</td>
                                                <td> @if (mistake.IsGrammar) {<span class="glyphicon glyphicon-ok"></span>}else{ <span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td>@if (mistake.IsVocab){<span class="glyphicon glyphicon-ok"></span>}else {<span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td>@if (mistake.IsPronunciation){<span class="glyphicon glyphicon-ok"></span>}else{<span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td><span class="badge">@mistake.Count</span></td>
                                                <td>
                                                    <form method="post">
                                                        <input type="hidden" name="conversationId" id="conversationId-repeat-mostCommonSessionMistakes" value="@Model.ConversationId" />
                                                        <input type="hidden" name="mistakeId" id="mistakeId-repeat-mostCommonSessionMistakes" value="@mistake.Id" />
                                                        <button type="submit" name="submit-repeat-repeat-mostCommonSessionMistakes" id="submit-mistake-repeat" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-repeat"></span></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th><span style="color:red;font-size: 25px" class="glyphicon glyphicon-comment"></span></th>
                                        <th><span style="color:darkseagreen;font-size: 25px" class="glyphicon glyphicon-ok-sign"></span></th>
                                        <th><span style="font-size: 25px">G</span></th>
                                        <th><span style="font-size: 25px">V</span></th>
                                        <th><span style="font-size: 25px">P</span></th>
                                        <th><span class="glyphicon glyphicon-signal" style="font-size: 25px"></span></th>
                                        <th><span class="glyphicon glyphicon-wrench" style="font-size: 25px"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var mistake in Model.MostCommonMistakesForStudent)
                                        {
                                            <tr>
                                                <td>@mistake.SpokenValue</td>
                                                <td>@mistake.CorrectValue</td>
                                                <td> @if (mistake.IsGrammar)
                                                {<span class="glyphicon glyphicon-ok"></span>}
                                                else
                                                { <span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td>@if (mistake.IsVocab)
                                                {<span class="glyphicon glyphicon-ok"></span>}
                                                else
                                                {<span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td>@if (mistake.IsPronunciation)
                                                {<span class="glyphicon glyphicon-ok"></span>}
                                                else
                                                {<span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td><span class="badge">@mistake.Count</span></td>
                                                <td>
                                                    <form method="post">
                                                        <input type="hidden" name="conversationId" id="conversationId-repeat-mostCommonMistakesForStudent" value="@Model.ConversationId" />
                                                        <input type="hidden" name="mistakeId" id="mistakeId-repeat-mostCommonMistakesForStudent" value="@mistake.Id" />
                                                        <button type="submit" name="submit-repeat-repeat-mostCommonMistakesForStudent" id="submit-mistake-repeat" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-repeat"></span></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th><span style="color:red;font-size: 25px" class="glyphicon glyphicon-comment"></span></th>
                                        <th><span style="color:darkseagreen;font-size: 25px" class="glyphicon glyphicon-ok-sign"></span></th>
                                        <th><span style="font-size: 25px">G</span></th>
                                        <th><span style="font-size: 25px">V</span></th>
                                        <th><span style="font-size: 25px">P</span></th>
                                        <th><span class="glyphicon glyphicon-signal" style="font-size: 25px"></span></th>
                                        <th><span class="glyphicon glyphicon-wrench" style="font-size: 25px"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var mistake in Model.TopGlobalMistakesForLanguage)
                                        {
                                            <tr>
                                                <td>@mistake.SpokenValue</td>
                                                <td>@mistake.CorrectValue</td>
                                                <td> @if (mistake.IsGrammar)
                                                {<span class="glyphicon glyphicon-ok"></span>}
                                                else
                                                { <span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td>@if (mistake.IsVocab)
                                                {<span class="glyphicon glyphicon-ok"></span>}
                                                else
                                                {<span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td>@if (mistake.IsPronunciation)
                                                {<span class="glyphicon glyphicon-ok"></span>}
                                                else
                                                {<span class="glyphicon glyphicon-remove"></span>}</td>
                                                <td><span class="badge">@mistake.Count</span></td>
                                                <td>
                                                    <form method="post">
                                                        <input type="hidden" name="conversationId" id="conversationId-repeat-topGlobalMistakesForLanguage" value="@Model.ConversationId" />
                                                        <input type="hidden" name="mistakeId" id="mistakeId-repeat-topGlobalMistakesForLanguage" value="@mistake.Id" />
                                                        <button type="submit" name="submit-repeat-repeat-topGlobalMistakesForLanguage" id="submit-mistake-repeat" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-repeat"></span></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Messaging alerting the user that a new Mistake has been added-->
    <div id="dataPostedMessage" class="row content">
        <div class="col-lg-12">
            @{
                if (Model.MistakeAdded)
                {
                    <div id="mistakeAdded" class="well">
                        <div class="alert alert-success">
                            <form class="form-inline" method="post">
                                <div class="form-group">
                                    <h3><strong>Mistake added!</strong></h3> @Model.Student.Forename said <strong>@Model.NewMistakeMade.SpokenValue</strong> but should have said <strong>@Model.NewMistakeMade.CorrectValue</strong>.
                                    <input type="hidden" name="conversationId" id="conversationId-repeat-mistakeAdded" value="@Model.ConversationId" />
                                    <input type="hidden" name="mistakeId" id="mistakeId-repeat-mistakeAdded" value="@Model.NewMistakeMade.MistakeId" />
                                    <button type="submit" name="submit-mistake-repeat" id="submit-repeat-mistakeAdded" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                if (Model.PraiseAdded)
                {
                    <div class="well">
                        <div class="alert alert-success">
                            <h3><strong>Praise added!</strong></h3> You have applauded @Model.Student.Forename for saying <strong>@Model.NewMistakeMade.SpokenValue</strong>.
                            <form method="post">
                                <input type="hidden" name="conversationId" id="conversationId-repeat-praiseAdded" value="@Model.ConversationId" />
                                <input type="hidden" name="mistakeId" id="mistakeId-repeat-praiseAdded" value="@Model.NewMistakeMade.Id" />
                                <button type="submit" name="submit-mistake-repeat" id="submit-repeat-praiseAdded" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    @{
        Html.RenderAction("ConversationConfiguration", "Conversation", new
        {
            conversationId = Model.ConversationId,
            teacherId = Model.Teacher.Id,
            MistakeTypeOptionsConfigId = Model.MistakeTypeOptionsConfigId
        }
        );
    }

</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script>
    function displayFormInputSection(praise) {

        document.getElementById("praiseForm").hidden = !praise;
        document.getElementById("mistakeForm").hidden = praise;
    }
</script>

<script>
    function showSubmitButton(praise) {
        // enable the correct submit button after a rating has been chosen
        document.getElementById("submit-mistake").disabled = !praise ? "" : "disabled";
        document.getElementById("submit-praise").disabled = praise ? "" : "disabled";
    }
</script>

<script>
    $(document).ready(function () {
        $('.submit-mistake').attr('disabled', true);
        $('#correctValue').keyup(function () {
            if ($(this).val().length != 0)
                $('.submit-mistake').attr('disabled', false);
            else
                $('.submit-mistake').attr('disabled', true);
        })
    });
</script>

<script>
    setTimeout(function () {
        $('#mistakeAdded').fadeOut('slow');
    }, 5000); // <-- time in milliseconds
</script>